<a href="https://colab.research.google.com/github/allhoesnobros/EXP-3/blob/main/experiment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EXP 3 : Study of tuple in python

Name : Aayush Vishwakarma
PRN : 25070123125

In [ ]:

tpl = (2,"Vivek",True)
print(tpl)

In [3]:
tpl1 = ["apple","banana","orange"]
print(tpl1[1])
tpl1[1] = "kiwi"
print(tpl1)

banana
['apple', 'kiwi', 'orange']

In [4]:
tpl2 = ("apple",2,True,"orange","kiwi")
print(tpl2[1:4])
print(tpl2[:3])
print(tpl2[1:])

(2, True, 'orange')
('apple', 2, True)
(2, True, 'orange', 'kiwi')

In [5]:
tpl3 = (10,)*5
print(tpl3)

(10, 10, 10, 10, 10)

In [6]:
tpl4 = (10)*5
print(tpl4)

50

In [7]:

list = ["symbiosis,"]*5
print(list)

['symbiosis,', 'symbiosis,', 'symbiosis,', 'symbiosis,', 'symbiosis,']

In [8]:
tpl5 = ("apple","banana","orange")
print("before",id(tpl5))
tpl6 = ("mango",)
tpl5 += tpl6
print(tpl5)
print("after",id(tpl5))

before 132100981563328
('apple', 'banana', 'orange', 'mango')
after 132100981501248

In [9]:
list1 = ["apple","banana","orange"]
print("before",id(list1))
list2 = ["mango",]
list1 += list2
print(list1)
print("after",id(list1))

before 132100981918720
['apple', 'banana', 'orange', 'mango']
after 132100981918720

In [10]:
#Student marks
marks = (78,85,90,66,88)
m = max(marks)
n = min(marks)
x = sum(marks)
y = len(marks)
z = sum(marks)/len(marks)
w = sorted(marks)
print("max: ",m,"\nmin: ",n,"\nsum: ",x,"\nno of students: ",y,"\navg: ",z,"\nassending order: ",w)

max:  90
min:  66
sum:  407
no of students:  5
avg:  81.4
assending order:  [66, 78, 85, 88, 90]

In [11]:
student = ("Maths",82,"A")

subject,marks,grade = student

print("Subject -",subject)
print("Marks -",marks)
print("Grade -",grade)

if (marks >= 75) :
  print("Distinction")

Subject - Maths
Marks - 82
Grade - A
Distinction

In [12]:
attendance = ("P","A","P","P","P","A")
print("Total present Days:", attendance.count("P"))
print("Total Absent Days:", attendance.count("A"))

A = attendance.count("A")

if (A > 0) :
  print("Employ was absent for",A,"days")

Total present Days: 4
Total Absent Days: 2
Employ was absent for 2 days